<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LTIPlugin</name>
        <type>plugin</type>
        <creationDate>2020-08-27</creationDate>
        <lastUpdate>2021-10-14</lastUpdate>
        <author>Adam Zammit</author>
        <authorUrl>https://acspri.org.au/</authorUrl>
        <authorEmail>software@acspri.org.au</authorEmail>
        <supportUrl>https://acspri.org.au/</supportUrl>
        <version>1.0.8</version>
        <license>GNU General Public License v3.0</license>
        <description><![CDATA[Make LimeSurvey an LTI provider for tools that support the LTI API such as Canvas and OpenEdX]]></description>
    </metadata>
    <compatibility>
        <version>3.0</version>
        <version>4.0</version>
        <version>5.0</version>
    </compatibility>
</config>
